-# 変数 want
= form_with(model: want, local: true) do |form|
  - if want.errors.any?
    = render 'layouts/error', var: want
  %div.form-group
    %label{ for: 'name' } 商品名
    %div
      - if action_name == 'new'
        = form.text_field :name, required: true, class:"form-control"
      - elsif action_name == 'edit'
        = form.text_field :name, required: true, class:"form-control", value: want.name

  %div.form-group
    %label{ for: 'memo' } メモ
    %div
      - if action_name == 'new'
        = form.text_field :memo, class:"form-control"
      - elsif action_name == 'edit'
        = form.text_field :memo, class:"form-control", value: want.memo

  %div.form-group
    = form.submit '追加', class: "btn btn-default btn-add"
