.whole_page
  %table.table#wants_list
    %tr
      %th 商品名
      %th bought
      %th delete
    - @wants.each do |want|
      %tr
        %td
          = link_to edit_want_path(want) do
            %div #{want.name}
            %div.want_memo #{want.memo}
        %td
          = render 'wants/bought_button', want: want
        %td
          = link_to 'Delete', want_path(want), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-delete"

  = link_to '欲しいものリストを追加', new_want_path, class: "btn btn-default block"
