<i class="fa fa-users own-or-both-icon"></i>
<div class="comment-text">
  <div class="repeat-exepnse-amount">
    <i class="fa fa-cny"></i><%= repeat_expense.amount.to_s(:delimited) %>
    <span class="repeat-expense-percent space-left"><%= repeat_expense.show_percent %></span>
    <% unless repeat_expense.user == partner %>
      <div class="pull-right">
        <%= link_to edit_repeat_expense_path(repeat_expense) do %>
          <i class="fa fa-lg fa-edit text-redpepper"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div><%= l(repeat_expense.start_date, format: :japanese_date_default) %> 〜 <%= l(repeat_expense.end_date, format: :japanese_date_default) %></div>
  <div>
    <span class="space-right"><%= repeat_expense.category.name %></span>
    <span><%= repeat_expense.memo %></span>
  </div>

  <div>
    <span><%= repeat_expense.check_mark(@current_user) %><%= @current_user.name %>の支払い</span>
    <span class="space-left"><i class="fa fa-cny space-left"></i><%= repeat_expense.necessary_pay_of(@current_user).to_s(:delimited) %></span>
  </div>

  <div>
    <span><%= repeat_expense.check_mark(@partner) %><%= @partner.name %>の支払い</span>
    <span class="space-left"><i class="fa fa-cny space-left"></i><%= repeat_expense.necessary_pay_of(@partner).to_s(:delimited) %></span>
  </div>

</div><!-- /.comment-text -->