<%= form_with(model: @repeat_expense, local: true) do |f| %>
  <%= f.hidden_field :is_for_both, value: true %>
  <div class="form-group">
    <%= f.label :amount , value: '支払い金額' %>
    <div class="input-group">
      <%= render 'expenses/calculator_input_addon', { data_calculator_for: "both-expense-paid-amount", disabled: false } %>
      <%= f.number_field :amount, class:"form-control input-lg", id: "both-expense-paid-amount", min: 0, max: 9999999999, value: @repeat_expense.amount, required: true %>
      <span class="input-group-addon">円</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.radio_button :percent, :percent, {checked: true, id: 'percent_radio'} %>
    <%= f.label :percent, for: :percent_radio, value: "割合で入力"%>
    <div class="input-group">
      <span class="input-group-addon">自分の割合</span>
      <%= f.select :percent, options_for_select(percent_selection, Expense.percents[:pay_half]), {}, class:'form-control', id: 'percent_input' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.radio_button :percent, Expense.percents[:manual_amount], {id: 'amount_radio'} %>
    <%= f.label :percent, for: :amount_radio, value: "金額で入力"%>
    <div class="input-group space-bottom">
      <%= render 'expenses/calculator_input_addon', { data_calculator_for: "mypay-input", disabled: true } %>
      <span class="input-group-addon"><%= @current_user.name %></span>
      <%= f.number_field :mypay, class: "form-control input-lg", id:"mypay-input", min: 0, disabled: "disabled" %>
      <span class="input-group-addon">円</span>
    </div>
    <div class="input-group">
      <%= render 'expenses/calculator_input_addon', { data_calculator_for: "partnerpay-input", disabled: true } %>
      <span class="input-group-addon"><%= @partner.name %></span>
      <%= f.number_field :partnerpay, class: "form-control input-lg", id:"partnerpay-input", min: 0, disabled: "disabled" %>
      <span class="input-group-addon">円</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_id , value: 'カテゴリー' %>
    <div>
      <%= f.collection_select :category_id, categories_without_only_own, :id, :name, {}, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '開始日' %>
    <div>
      <%= f.date_field :start_date, required: true, value: @repeat_expense.default_date('start_date'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '終了日' %>
    <div>
      <%= f.date_field :end_date, required: true, value: @repeat_expense.default_date('end_date'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '毎月 何日？' %>
    <div>
      <%= f.select :repeat_day, 1..28, { include_blank: "-" }, required: true, id: "repeat_day", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :payment_method, value: '支払い方法' %>
    <div>
      <%= f.select :payment_method, Expense.payment_methods_i18n.invert, {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label>
        <%= f.hidden_field :is_essential, value: false, id: 'hidden_is_essential' %>
        <%= f.check_box :is_essential, {}, true, false %>
        必須出費
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: 'メモ' %>
    <div>
      <%= f.text_field :memo,  maxlength: 100, class: "form-control" %>
    </div>
  </div>
  <br>

  <% if action_name == 'new' || action_name == 'create' %>
    <div class="form-group">
      <%= f.submit submit_btn_letters, class: "btn btn-orange btn-block" %>
    </div>

  <% elsif action_name == 'edit' || action_name == 'update' %>
    <div class="form-group">
      <button type="button" class="btn btn-orange btn-block" data-toggle="modal" data-target="#update-modal">更新</button>
    </div>

    <%= render 'confirm_update_modal', form: f %>

    <button type="button" class="btn btn-brown btn-block" data-toggle="modal" data-target="#destroy-modal">削除する</button>

    <%= render 'confirm_destroy_modal' %>

  <% end %>

<% end %>