<%= form_with(model: @repeat_expense, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :amount , value: '支払い金額' %>
    <div class="input-group">
      <%= render 'expenses/calculator_input_addon', { data_calculator_for: "own-expense-paid-amount", disabled: false } %>
      <%= f.number_field :amount, class:"form-control input-lg", id: "own-expense-paid-amount", min: 0, max: 9999999999, value: @repeat_expense.amount, required: true %>
      <span class="input-group-addon">円</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_id , value: 'カテゴリー' %>
    <div>
      <%= f.collection_select :category_id, @categories, :id, :name, {}, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '開始日' %>
    <div>
      <%= f.date_field :start_date, required: true, value: @repeat_expense.default_date('start_date'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '終了日' %>
    <div>
      <%= f.date_field :end_date, required: true, value: @repeat_expense.default_date('end_date'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '毎月 何日？' %>
    <div>
      <%= f.select :repeat_day, 1..28, { include_blank: "-" }, required: true, id: "repeat_day", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: 'メモ' %>
    <div>
      <%= f.text_field :memo, maxlength: 100, class: "form-control" %>
    </div>
  </div>
  <br>

  <% if action_name == 'new' || action_name == 'create' %>
    <div class="form-group">
      <%= f.submit submit_btn_letters, class: "btn btn-orange btn-block" %>
    </div>

  <% elsif action_name == 'edit' || action_name == 'update' %>
    <div class="form-group">
      <button type="button" class="btn btn-orange btn-block" data-toggle="modal" data-target="#update-modal">更新</button>
    </div>

    <%= render 'confirm_update_modal', form: f %>

    <button type="button" class="btn btn-brown btn-block" data-toggle="modal" data-target="#destroy-modal">削除する</button>

    <%= render 'confirm_destroy_modal' %>
  <% end %>

<% end %>