<%= form_with(model: @repeat_expense, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :amount , value: '支払い金額' %>
    <div class="input-group">
      <%= render 'expenses/calculator_input_addon', { data_calculator_for: "own-expense-paid-amount", disabled: false } %>
      <%= f.number_field :amount, class:"form-control input-lg", id: "own-expense-paid-amount", min: 0, max: 9999999999, value: @repeat_expense.amount, required: true %>
      <span class="input-group-addon">円</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_id , value: 'カテゴリー' %>
    <div>
      <%= f.collection_select :category_id, @categories, :id, :name, {}, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '開始日' %>
    <div>
      <%= f.date_field :s_date, required: true, value: @repeat_expense.default_date('s_date'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '終了日' %>
    <div>
      <%= f.date_field :e_date, required: true, value: @repeat_expense.default_date('e_date'), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '毎月 何日？' %>
    <div>
      <%= f.select :r_date, 1..28, { include_blank: "-" }, required: true, id: "r_date", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: 'メモ' %>
    <div>
      <%= f.text_field :memo, maxlength: 100, class: "form-control" %>
    </div>
  </div>
  <br>

  <% if action_name == 'new' || action_name == 'create' %>
    <div class="form-group">
      <%= f.submit submit_btn_letters, class: "btn btn-orange btn-block" %>
    </div>

  <% elsif action_name == 'edit' || action_name == 'update' %>
    <div class="form-group">
      <button type="button" class="btn btn-orange btn-block" data-toggle="modal" data-target="#modal-default">更新</button>
    </div>

    <%= render 'confirm_modal', form: f %>

    <%= link_to '削除する', repeat_expense_path(@repeat_expense), method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-brown btn-block' %>
  <% end %>

<% end %>