<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <h3>予算を編集</h3>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="box box-brown">
          <div class="box-body">
            <%= form_with(model: @budget, local: true) do |f| %>
              <%=render 'shared/error', object: @budget %>


              <div class="form-group">
                <%= f.select :category_id, {"#{@category.name}":  @category.id}, {}, disabled: true, class: 'form-control' %>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">金額</span>
                  <%= f.number_field :amount, class: "form-control input-lg", required: true %>
                  <span class="input-group-addon">円</span>
                </div>
              </div>

              <div class="form-group">
                <%= f.submit submit_btn_letters, class: "btn btn-orange btn-block" %>
              </div>

              <%= link_to '削除する', budget_path(@budget), method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-brown btn-block' %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </section>

</div>