<% provide :title, "#{CONFIG[:site_name]} | 出費一覧" %>
<div class="content-wrapper">

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-brown">
          <div class="box-header">
            <div>
              <div class="pull-left">
                <h4>出費合計</h4>
              </div>
              <div class="pull-right">
                <h4><%= one_total_expenditures(@categories, @current_user) %></h4>
              </div>
            </div>
            <br /><br />
            <div>
              <div class="pull-left">
                <h4>二人の出費合計</h4>
              </div>
              <div class="pull-right">
                <h4><%= one_total_both_expenditures(@categories, @current_user) %></h4>
              </div>
            </div>
            <br /><br />
            <div>
              <div class="pull-left">
                <h4>自分の出費合計</h4>
              </div>
              <div class="pull-right">
                <h4><%= one_total_own_expenditures(@categories, @current_user) %></h4>
              </div>
            </div>
          </div>


          <div class="box-body no-padding">
            <div class="table-responsive">
              <table class="table no-margin">
              <tbody>
                <% @categories.each do |cateogry| %>
                  <tr>
                    <td class="text-center"><i class="fa fa-cny"></i></td>
                    <td><%= cateogry.kind %></td>
                    <td><%= cateogry.expenses_sum(@current_user) %></td>
                  </tr>
                <% end  %>
              </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center no-border no-padding">
            <%#= paginate @incomes %>
          </div><!-- /.box-footer -->
        </div><!-- /.box box-brown -->

      </div><!-- /.col-md-12  -->
    </div><!-- /row -->
  </section>

</div>