.container-fluid
  - @notifications.each do |notification|
    - msg = notification.notification_message
    .each_notification
      .notification_msg #{partner.name}さんが#{notifying_func(msg)}を#{notifying_act(msg)}しました。
      - notification.details.each do |key, value|
        %div.notification_detail #{key}: #{value}
      %div.notification_datetime
        = notification.created_at.strftime("%Y/%m/%d(%a)")
