<%= render partial: 'shared/html_title', locals: {subtitle: t('user.edit.title')} %>
<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <% if @partner.nil? %>
          <div class="alert alert-danger alert-dismissible text-white">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><%= t('user.edit.no_registered_partner') %></h5>
          </div>
        <% end %>
        <%= render 'shared/notice_flash_message' %>
        <h3><%= t('user.edit.title') %></h3>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="box box-brown">

          <div class="box-body">
            <%= form_with(model: @current_user, local: true) do |f| %>
              <%=render 'shared/error', object: @current_user %>

              <div class="form-group">
                <%= f.label :name , value: '名前' %>
                <div>
                  <%= f.text_field :name, maxlength: UserSettings.max_username_letters, class:"form-control", value: @current_user.name, required: true %>
                </div>
              </div>
              <br />

              <div class="form-group">
                <%= f.label :email , value: t('email') %>
                <div>
                  <%= f.email_field :email, class:"form-control", value: @current_user.email, required: true %>
                </div>
              </div>
              <br />

              <div class="form-group">
                <%= f.label :password , value: t('user.new.password') %>
                <p  class="user-edit-explanation"><%= t('user.edit.change_password') %></p>
                <p  class="user-edit-explanation"><%= t('user.new.password_explanation') %></p>
                <div>
                  <%= f.password_field :password, class:"form-control" %>
                </div>
              </div>

              <div class="form-group">
                <p  class="user-edit-explanation"><%= t('user.new.password_confirmation_explanation') %></p>
                <div>
                  <%= f.password_field :password_confirmation, class:"form-control" %>
                </div>
              </div>
              <br />
              <br />

              <% if @partner.present? %>
                <div class="form-group">
                  <p><b><%= t('partner') %></b></p>
                  <div class="table-responsive">
                    <table class="table no-border">
                      <tbody>
                      <tr>
                        <th><%= t('name') %></th>
                        <td><%= @partner.name %></td>
                      </tr>
                      <tr>
                        <th><%= t('email') %></th>
                        <td><%= @partner.email %></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% else %>
                <p><b><%= t('user.edit.partner_registration') %></b></p>
                <%= simple_format(t('user.edit.partner_registration_explanation'), class: "user-edit-explanation") %>
                <div class="form-group">
                  <div>
                    <%= f.email_field :partner_email_to_register, class:"form-control", placeholder: "partner@partner.com" %>
                  </div>
                </div>
              <% end %>
              <br /><br />

              <div class="form-group">
                <%= f.submit submit_btn_letters, class: "btn btn-orange btn-block" %>
              </div>

            <% end %>
          </div><!-- /.box-body -->
        </div><!-- /.box box-brown -->
      </div><!-- /.col-md-12  -->
    </div><!-- /row -->
  </section><!-- /.content -->

</div>

<%= content_for :other_css do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>