<%= render partial: 'shared/html_title', locals: {subtitle: "ログイン"} %>
<div class="register-box">
  <div class="register-logo">
    <%= image_tag 'icon.png', width: 42, height: 42 %>
    <b>PairMoney</b>
    <%= image_tag 'icon.png', width: 42, height: 42 %>
  </div><!--/.register-logo -->


  <div class="register-box-body">
    <% if flash[:alert] %>
      <% flash[:alert].each do |message| %>
        <p class="text-red"><%= message %></p>
      <% end %>
    <% end %>
    <%= form_with(model: @user, url: signup_path, local: true) do |f| %>
      <%=render 'shared/error', object: @user %>
      <div class="form-group has-feedback">
        <%= f.label :name , value: '名前（最大10文字）' %>
        <div>
          <%= f.text_field :name, maxlength: 10, class:"form-control", value: @user.name, required: true %>
        </div>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :email , value: 'メールアドレス' %>
        <div>
          <%= f.email_field :email, class:"form-control", value: @user.email, required: true %>
        </div>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :password , value: 'パスワード（8文字以上）' %>
        <div>
          <%= f.password_field :password, class:"form-control", required: true %>
        </div>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :password_confirmation , value: 'パスワード確認（8文字以上）' %>
        <div>
          <%= f.password_field :password_confirmation, class:"form-control", required: true %>
        </div>
      </div>
      <br />

      <div class="button-panel">
        <%= f.submit "新規登録", class:"btn btn-orange btn-block" %>
      </div>

    <% end %>
  </div><!-- /.register-box-body -->

</div><!-- /.register-box -->
