<%= render partial: 'shared/html_title', locals: {subtitle: "新規登録"} %>
<div class="register-box">
  <div class="register-logo">
    <%= image_tag 'icon.png', width: 42, height: 42 %>
    <b><%= Settings.site_name %></b>
    <%= image_tag 'icon.png', width: 42, height: 42 %>
  </div><!--/.register-logo -->


  <div class="register-box-body">
    <% if flash[:alert] %>
      <% flash[:alert].each do |message| %>
        <p class="text-red"><%= message %></p>
      <% end %>
    <% end %>
    <%= form_with(model: @user, url: signup_path, local: true) do |f| %>
      <%=render 'shared/error', object: @user %>
      <div class="form-group has-feedback">
        <%= f.label :name , value: t('user.new.name') %>
        <div>
          <%= f.text_field :name, maxlength: UserSettings.max_username_letters, class:"form-control", value: @user.name, required: true %>
        </div>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :email , value: t('email') %>
        <div>
          <%= f.email_field :email, class:"form-control", value: @user.email, required: true %>
        </div>
      </div>

      <div class="form-group has-feedback">
        <%= f.label :password , value: t('user.new.password') %>
        <p id="password-explanation"><%= t('user.new.password_explanation') %></p>
        <div>
          <%= f.password_field :password, class:"form-control", required: true %>
        </div>
      </div>

      <div class="form-group has-feedback">
        <p id="password-confirmation-explanation"><%= t('user.new.password_confirmation_explanation') %></p>
        <div>
          <%= f.password_field :password_confirmation, class:"form-control", required: true %>
        </div>
      </div>
      <br />

      <div class="button-panel">
        <%= f.submit t('user.new.submit'), class:"btn btn-orange btn-block" %>
      </div>

    <% end %>
  </div><!-- /.register-box-body -->

</div><!-- /.register-box -->
