%div.whole_page.container-fluid
  %div ユーザーネーム #{@user.name}
  %div メールアドレス #{@user.email}
  %div パートナー
  - if partner.present?
    %div #{partner.name}さん
  - else
    - if @user.errors.any?
      = render 'layouts/error', var: @user
    %div
      パートナーを登録する
      = form_with(model: @user, url: register_partner_user_path, local: true) do |form|
        %div パートナーのメールアドレス
        %div
        = form.email_field :partner_email, required: true
        = form.submit "パートナーを登録", class: "btn btn-default"
