<%= render partial: 'shared/html_title', locals: {subtitle: "出費一覧"} %>
<div class="content-wrapper">

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="shift-month col-xs-12">
            <%= to_last_month_btn %>
            <dic class="col-xs-5 text-center year-month-selection">
              <%= select_tag :period, options_for_year_month, class: "form-control text-center", id: "year-month-select" %>
            </dic>
            <%= to_next_month_btn %>
            <%= link_to '検索', analyses_path(tab: specify_tab, period: current_year_month), class: "btn btn-brown col-xs-2 pull-right", id: "expenses-search-btn" %>
          </div><!--/.shift-month -->
        </div>
        <br />

        <div class="box box-brown">
          <div class="box-header">
            <h4><%= current_japanese_year_month %>の出費</h4>
          </div>
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="analyses-tab <%= active_analyses_tab('expenses') %>" id="expenses-tab">
                <a href="#expenses_comparison" data-toggle="tab"  id="expenses-tab-link">支出</a>
              </li>
              <li class="analyses-tab <%= active_analyses_tab('budgets') %>" id="budgets-tab">
                <a href="#budgets_comparison" data-toggle="tab"  id="budgets-tab-link">予算比</a>
              </li>
            </ul>
            <div class="tab-content no-padding">
              <div class="tab-pane <%= active_analyses_tab('expenses') %>" id="expenses_comparison">
                <div class="box-header">
                  <div>
                    <div class="pull-left">
                      <h4>出費合計</h4>
                    </div>
                    <div class="pull-right">
                      <h4><i class="fa fa-cny"></i><%=  total = own_total_expenditures(@current_user); total.to_s(:delimited) %></h4>
                    </div>
                  </div>
                  <br /><br />
                  <div>
                    <div class="pull-left">
                      <h4>二人の出費合計</h4>
                    </div>
                    <div class="pull-right">
                      <h4><i class="fa fa-cny"></i><%= one_total_both_expenditures(@current_user).to_s(:delimited) %></h4>
                    </div>
                  </div>
                  <br /><br />
                  <div>
                    <div class="pull-left">
                      <h4>自分の出費合計</h4>
                    </div>
                    <div class="pull-right">
                      <h4><i class="fa fa-cny"></i><%= one_total_own_expenditures(@current_user).to_s(:delimited) %></h4>
                    </div>
                  </div>
                </div>

                <div class="box-body no-padding">
                  <div class="table-responsive no-margin no-border-right no-border-left">
                    <table class="table" >
                      <tbody>
                      <% @categories.each do |category| %>
                        <tr class="row">
                          <td class="text-center td-middle no-padding">
                            <span class="category-circle mushroom"><i class="fa fa-lg fa-shopping-cart"></i></span>
                          </td>
                          <td class="td-middle">
                            <div><%= category.kind %></div>
                            <small><%= category.percentage(@expenses, @current_user, total).ceil %>%</small>
                          </td>
                          <td class="td-middle"><i class="fa fa-cny"></i><%= category.expenses_sum(@expenses, @current_user).to_s(:delimited) %></td>
                          <td class="text-center td-middle">
                            <i class="fa fa-lg fa-info-circle"></i>
                          </td>
                        </tr>
                      <% end  %>
                      </tbody>
                    </table>
                  </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->

                <div class="box-footer text-center no-border no-padding">
                  <%#= paginate @incomes %>
                </div><!-- /.box-footer -->

              </div><!-- /.tab-pane active#expenses_comparison -->

              <div class="tab-pane <%= active_analyses_tab('budgets') %>" id="budgets_comparison">
                <%#= badgets_sum(@badget_categories).to_s(:delimited) %>

              </div><!-- /.tab-pane #budget_comparison -->

            </div><!-- /.tab-content -->
          </div><!-- /.nav-tabs-custom -->
        </div><!-- /.box box-brown -->

      </div><!-- /.col-xs-12  -->
    </div><!-- /row -->
  </section>

</div>

<%= content_for :other_javascript do %>
  <%= javascript_include_tag 'analyses_index' %>
<% end %>