<div class="whole_page container-fluid" %>
  <table id="wants_list" %>
    <tr>
      <th>商品名</th>
      <th>bought</th>
      <th>delete</th>
    </tr>
    <% @wants.each do |want| %>
      <tr class="row">
        <td class="col-xs-5">
          <%= link_to edit_want_path(want) do %>
            <div>
              <%= want.name %>
            </div>
            <div class="want_memo">
              <%= want.memo %>
            </div>
          <% end %>
        </td>
        <td class="col-xs-">
          <% if want.bought_flg == false %>
            <%= link_to 'Bought', edit_want_path(want), class: "btn btn-default" %>
          <% elsif want.bought_flg == true %>
            <%= link_to 'Not yet', class: "btn btn-default" %>
          <% end %>
        </td>
        <td class="col-xs-5">
          <%= link_to 'Delete', want_path(want), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-delete" %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to '欲しいものリストを追加', new_want_path, class: "btn btn-default block" %>
</div>
