%div.whole_page.container
  %div.panel.panel-default
    %div.panel-heading
      #{current_user.name}の予算
  %table.table
    %tr
      %th カテゴリー
      %th 予算
      %td
    - @categories.each do |category|
      - unless category.badget.nil?
        - badget = category.badget
      %tr
        %td #{category.kind}
        - if badget.present?
          %td ¥#{number_with_delimiter(badget.amount, delimiter: ",")}
          %td #{link_to '編集', edit_badget_path(badget.id), class: "btn btn-default"}
        - else
          %td
          %td
          -# table.table

  = link_to '予算の追加', new_badget_path, class: "btn btn-default"
