%div.whole_page.container
  %div.panel.panel-default
    %div.panel-heading
      #{current_user.name}の予算
  %table.table
    %tr
      %th カテゴリー
      %th 予算
    - @categories.each do |category|
      - unless category.badget.nil?
        - badget = category.badget.amount
      %tr
        %td #{category.kind}
        - if badget.present?
          %td #{badget}
        - else
          %td
          -# table.table
  - if current_user.badgets.present?
    = link_to '予算の編集', edit_badget_path(current_user.id), class: "btn btn-default"
    = link_to '予算の追加', new_badget_path, class: "btn btn-default"
  - else
    = link_to '予算の追加', new_badget_path, class: "btn btn-default"
