= form_with(model: pay, local: true) do |f|
  %div.form-group
    %label{ for: 'amount' } 金額
    %div
      = f.number_field :pamount, class:"form-control", required: true
  %div.form-group
    %label{ for: 'date' } 何月分か
    %div
      = f.date_field :date, class:"form-control", required: true
  %div.form-group
    %label{ for: 'memo' } メモ
    %div
      = f.text_field :memo, class:"form-control"
  %div.form-group
    = f.submit '追加', class: "btn btn-default btn-add"

- if action_name == 'edit'
  =link_to '削除する', pay_path(pay), method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-delete btn-delete'
