%div.whole_page
  %div.panel.panel-default
    %div.panel-heading
      先月分の自分が手渡す金額
    %div.panel-body
      - if @my_last_payment < 0
        ¥#{number_with_delimiter(@my_last_payment.abs, delimiter: ",")} 円受け取る
      - elsif @my_last_payment > 0
        #{number_with_delimiter(@my_last_payment.abs, delimiter: ",")} 円渡す
      - else @my_last_payment == 0
        ¥0
  %div.panel.panel-default
    %div.panel-heading
      今月分の自分が手渡す金額
    %div.panel-body
      - if @my_payment < 0
        ¥#{number_with_delimiter(@my_payment.abs, delimiter: ",")} 円受け取る
      - elsif @my_payment > 0
        #{number_with_delimiter(@my_payment.abs, delimiter: ",")} 円渡す
      - else @my_payment == 0
        0 円
  %div.panel.panel-default
    %div.panel-heading
      これまでの全ての出費と手渡した金額の差額
    %div.panel-body
      - if @balance < 0
        ¥#{number_with_delimiter(@balance.abs, delimiter: ",")} 円受け取る
      - elsif @balance > 0
        #{number_with_delimiter(@balance.abs, delimiter: ",")} 円渡す
      - else @balance == 0
        0 円
  %br
  %div
  = link_to '新しい手渡し金額を追加', new_pay_path, class: "btn btn-default block"

  %table.table.pay
    %tr
      %th 手渡し月
      %th 金額
      %th.memo memo
    - @pays.each do |pay|
      %tr
        - if pay.user == current_user
          %td
            = link_to "#{pay.date.strftime("%Y年%m月")}", edit_pay_path(pay)
          %td
            = link_to "¥#{number_with_delimiter(pay.pamount, delimiter: ",")}", edit_pay_path(pay)
          %td.memo
            = link_to "#{pay.memo}", edit_pay_path(pay)
        - elsif pay.user == partner
          %td "#{pay.date.strftime("%Y年%m月")}"
          %td "¥#{number_with_delimiter(pay.pamount, delimiter: ",")}"
          %td "#{pay.memo}"
