%div.whole_page
  %div.panel.panel-default
    %div.panel-heading
      先月分の自分が手渡す金額
    %div.panel-body
      - if @my_last_payment < 0
        #{number_with_delimiter(@my_last_payment.abs, delimiter: ",")} 円受け取る
      - elsif @my_last_payment > 0
        #{number_with_delimiter(@my_last_payment.abs, delimiter: ",")} 円渡す
      - else @my_last_payment == 0
        0 円
  %div.panel.panel-default
    %div.panel-heading
      今月分の自分が手渡す金額
    %div.panel-body
      - if @my_payment < 0
        #{number_with_delimiter(@my_payment.abs, delimiter: ",")} 円受け取る
      - elsif @my_payment > 0
        #{number_with_delimiter(@my_payment.abs, delimiter: ",")} 円渡す
      - else @my_payment == 0
        0 円
  %div.panel.panel-default
    %div.panel-heading
      先月までの繰り越し支払い金額
    %div.panel-body
      - if @balance < 0
        #{number_with_delimiter(@balance.abs, delimiter: ",")} 円受け取る
      - elsif @balance > 0
        #{number_with_delimiter(@balance.abs, delimiter: ",")} 円渡す
      - else @balance == 0
        0 円
  %br
  %div
  = link_to '新しい手渡し金額を追加', new_pay_path, class: "btn btn-default block"

  %br
  %br
  %br

  %table.table
    %tr
      %th 該当月
      %th 名前
      %th 金額
      %th.memo memo
    - @pays.each do |pay|
      %tr
        - if pay.user_id == current_user.id
          %td
            = link_to "#{pay.date.strftime("%Y/%m")}", edit_pay_path(pay)
          %td
            = link_to "#{display_name(pay.user_id).name}", edit_pay_path(pay)
          %td
            = link_to "¥#{number_with_delimiter(pay.pamount, delimiter: ",")}", edit_pay_path(pay)
          %td
            = link_to "#{pay.memo}", edit_pay_path(pay)
        - elsif pay.user_id == partner.id
          %td #{pay.date.strftime("%Y/%m")}
          %td #{display_name(pay.user_id).name}
          %td ¥#{number_with_delimiter(pay.pamount, delimiter: ",")}
          %td #{pay.memo}
