<div class="content-wrapper">

  <section class="content-header">
    <h1>精算</h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Settlement -->
        <div class="box box-danger">
          <div class="box-body box-profile">
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>先月分<small class="label bg-green">確定</small></b> <p class="pull-right"><%= payment_amount_as_string(@my_last_payment) %></p>
              </li>
              <li class="list-group-item">
                <b>今月分<small class="label bg-yellow">未確定</small></b> <p class="pull-right"><%= payment_amount_as_string(@my_payment) %></p>
              </li>
              <li class="list-group-item">
                <b>先月までの</br>繰り越し精算金額<small class="label bg-green">確定</small></b> <p class="pull-right"><%= payment_amount_as_string(@balance) %></p>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">過去の精算</h3>

            <div class="box-tools">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>該当月</th>
                  <th>名前</th>
                  <th>金額</th>
                  <th>メモ</th>
                </tr>
                </thead>
                <tbody>
                <% @pays.each do |pay| %>
                  <tr>
                    <% if pay.user == current_user %>
                      <% path = edit_pay_path(pay) %>
                      <td>
                        <%= link_to "#{pay.date.strftime("%Y/%m")}", path%>
                      </td>
                      <td>
                        <%= link_to "#{display_name(pay.user_id).name}", path%>
                      </td>
                      <td>
                        <%= link_to "¥#{pay.pamount.to_s(:delimited)}", path%>
                      </td>
                      <td>
                        <%= link_to "#{pay.memo}", path %>
                      </td>
                    <% else %>
                      <td><%= pay.date.strftime("%Y/%m") %></td>
                      <td><%= display_name(pay.user_id).name %></td>
                      <td><%= pay.pamount.to_s(:delimited) %></td>
                      <td><% pay.memo %></td>
                    <% end  %>
                  </tr>
                <% end  %>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <%= link_to '新しい手渡し金額を追加', new_pay_path, class: "btn btn-danger btn-block" %>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
        <div></div>

      </div>
    </div>
  </section>

</div>