.whole_page
  %h3 二人の貯金
  %h4{style: "margin-bottom: 60px;"} 総額　#{@deposits.total_amount.to_s(:delimited)}円
  = link_to '新しく二人の貯金を追加', new_deposit_path, class: "btn btn-default block"
  %br
  - unless @deposits.empty? || @deposits.total_amount == 0
    = link_to '引き出した金額を追加', withdraw_deposit_path, class: "btn btn-default block"
  %br
  %br

  %table.table
    %tr
      %th 日付
      %th 名前
      %th 金額
      %th.memo メモ
    - if @deposits
      - @deposits.each do |deposit|
        - color = deposit.is_withdrawn ? "color: red;" : ""
        %tr
          - if deposit.user_id == current_user.id
            - path = edit_deposit_path(deposit)
            %td
              = link_to "#{deposit.date.strftime("%Y/%m/%d")}", path, style: color
            %td
              = link_to "#{deposit.user.name}", path, style: color
            %td
              = link_to "#{"-" if deposit.is_withdrawn}#{deposit.amount.to_s(:delimited)}円", path, style: color
            %td
              = link_to "#{truncate(deposit.memo, length: 10)}", path, style: color
          -else
            %td{style: color} #{deposit.date.strftime("%Y/%m/%d")}
            %td{style: color} #{deposit.user.name}
            %td{style: color} #{"-" if deposit.is_withdrawn}#{deposit.amount.to_s(:delimited)}円
            %td{style: color} #{truncate(deposit.memo, length: 10)}
%div