<%= render partial: 'shared/html_title', locals: {subtitle: "二人の貯金"} %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <%= render 'shared/notice_flash_message' %>
        <h3><%= t('deposit.index.title') %></h3>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-orange"><i class="fa fa-bank"></i></span>
          <div class="info-box-content">
            <span class="info-box-text"><%= t('deposit.index.total_amount') %></span>
            <span class="info-box-number">
              <%= total_deposits_amount(@unpaged_deposits).to_s(:delimited) %> <%= t('currency') %>
            </span>
          </div>
        </div>
        <%= link_to t('deposit.index.add_deposit'), new_deposit_path, class: "btn btn-orange btn-block" %>
        <br />
        <%= link_to t('deposit.index.add_withdrawn_deposit'), withdraw_deposit_path, class: "btn btn-brown btn-block" %>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="box box-brown">

          <div class="box-body no-padding">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th><%= t('date_label') %></th>
                  <th><%= t('name') %></th>
                  <th><%= t('amount') %></th>
                  <th><%= t('memo') %></th>
                </tr>
                </thead>
                <tbody>
                  <% @deposits.each do |deposit| %>
                    <tr>
                      <td><%= deposit.date_as_string %></td>
                      <td><%= deposit.user.name %></td>
                      <td><%= deposit.amount_with_plus_or_minus %></td>
                      <td class="index-table-memo"><%= deposit.memo %></td>
                      <td><%= deposit.get_edit_link %></td>
                    </tr>
                  <% end  %>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-center no-border no-padding">
            <%= paginate @deposits %>
          </div><!-- /.box-footer -->
        </div><!-- /.box box-brown -->

      </div><!-- /.col-md-12  -->
    </div><!-- /row -->

  </section>

</div>