%div.whole_page.container-fluid
  - if action_name == 'new'
    %h3 自分のカテゴリを追加
  - elsif action_name == 'edit'
    %h3 自分のカテゴリを編集
  = form_with(model: category, local: true) do |form|
    %div.form-group
      %div
      = form.text_field :kind, required: true, class:"form-control"

      - if action_name == 'new'
        %div.custom-control.custom-checkbox
          = form.check_box :common, { class: 'custom-control-input', id: 'common_category'}, true, false
          %label.custom-control-label{ for: 'common_category' }
            共通のカテゴリにする
    %div.form-group
      = form.submit '追加', class: "btn btn-default"

  %div
  = link_to 'カテゴリ一覧へ', categories_path, class: "btn btn-default"
