%div.whole_page.container
  %h3 自分のカテゴリを追加
  = form_with(model: category, local: true) do |form|
    = form.text_field :kind, required: true
    - if action_name == 'new'
      %div
      = form.check_box :common, { class: 'chk'}, true, false
      共通のカテゴリにする
    %div
    = form.submit

  %div
  = link_to 'カテゴリ一覧へ', categories_path, class: "btn btn-default"
