%div.panel.panel-default
  %div.panel-heading
    = expense.date.strftime("%Y/%m/%d(%a)")
  %div.panel-body
    %strong ¥#{number_with_delimiter(expense.amount, delimiter: ",")}
    - if flg == "mine"
      %span #{Category.find(expense.category_id).kind}
      %span #{link_to 'edit', edit_expense_path(expense.id)}
      %span #{link_to 'delete', expense_path(expense.id), method: :delete, data:{confirm: "Are you sure?"}}
    - elsif flg == "both"
      %span #{Category.find(expense.category_id).kind} (#{which_percent(expense.percent)})
      %br
      #{expense.user.name}の支払い → ¥#{number_with_delimiter(expense.mypay, delimiter: ",")}  #{who_is_partner(expense.user).name}の支払い → ¥#{number_with_delimiter(expense.partnerpay, delimiter: ",")}
    %br
    = expense.note
  %hr
