%div.expense_date
  = expense.date.strftime("%Y/%m/%d(%a)")
%div
  %span.amount ¥#{number_with_delimiter(expense.amount, delimiter: ",")}
  - if flg == "mine"
    %span.category #{Category.find(expense.category_id).kind}
  - elsif flg == "both"
    %span.category #{Category.find(expense.category_id).kind}
    %span.percent (#{which_percent(expense.percent)})
    %br
    %div #{expense.user.name}の支払い → ¥#{number_with_delimiter(expense.mypay, delimiter: ",")}
    %div #{who_is_partner(expense.user).name}の支払い → ¥#{number_with_delimiter(expense.partnerpay, delimiter: ",")}
  %div.expense_note
    = expense.note
