%div.expense_date
  = expense.date.strftime("%Y/%m/%d(%a)")
%div
  %span.amount ¥#{number_with_delimiter(expense.amount, delimiter: ",")}
  - if flg == "mine"
    %span.each_expense_detail #{Category.find(expense.category_id).kind}
  - elsif flg == "both"
    %span.each_expense_detail #{Category.find(expense.category_id).kind}
    %span.each_expense_detail (#{which_percent(expense.percent)})
    %br
    %span.each_expense_detail #{expense.user.name}の支払い
    %span.each_expense_detail ¥#{number_with_delimiter(expense.mypay, delimiter: ",")}
    %br
    %span.each_expense_detail #{who_is_partner(expense.user).name}の支払い
    %span.each_expense_detail ¥#{number_with_delimiter(expense.partnerpay, delimiter: ",")}
  %div.each_expense_detail
    = expense.note
