- if controller.controller_name == 'repeat_expenses'
  = link_to '自分の繰返し出費の追加', new_repeat_expense_path, class: "btn btn-default block"
  %br
  = link_to '二人の繰返し出費の追加', both_repeat_expenses_path, class: "btn btn-default block"
  %br

#category_expense
  / Nav tabs
  %ul#pills-tab.nav.nav-pills{:role => "tablist"}
    %li.nav-item
      %a#both-tab.nav-link.active{"aria-controls" => "both", "aria-selected" => "false", "data-toggle" => "pill", :href => "#both", :role => "tab"} Both
    %li.nav-item
      %a#mine-tab.nav-link{"aria-controls" => "mine", "aria-selected" => "true", "data-toggle" => "pill", :href => "#mine", :role => "tab"} Mine
  / Tab panes
  #pills-tabContent.tab-content
    #both.tab-pane.fade.show.active{"aria-labelledby" => "both-tab", :role => "tabpanel"}
      - if controller.controller_name == 'expenses' || controller.controller_name == 'shift_months'
        %div.expense_sum
          支払い合計
          %span.expense_sum_detail ¥#{number_with_delimiter(both_sum, delimiter: ",")}
      .both_list #{current_user.name}の出費
      - current_user_expenses.for_both.each do |expense|
        %div.each_expense{id: "expense-id-#{expense.id}"}
          - if controller.controller_name == 'expenses' || controller.controller_name == 'shift_months'
            = link_to edit_expense_path(expense.id) do
              - flg = "both"
              = render 'expenses/display_expenses', expense: expense, flg: flg
          - elsif controller.controller_name == 'repeat_expenses'
            = link_to edit_repeat_expense_path(expense.id) do
              - flg = "both"
              = render 'expenses/display_expenses', expense: expense, flg: flg
      .both_list.partner#partner_expenses #{partner.name}の出費
      - partner_expenses.for_both.each do |expense|
        %div.each_partner_expense
          - flg = "both"
          = render 'expenses/display_expenses', expense: expense, flg: flg
    #mine.tab-pane.fade{"aria-labelledby" => "mine-tab", :role => "tabpanel"}
      - if controller.controller_name == 'expenses' || controller.controller_name == 'shift_months'
        %div.expense_sum
          支払い合計
          %span.expense_sum_detail ¥#{number_with_delimiter(sum, delimiter: ",")}
      - current_user_expenses.for_oneself.each do |expense|
        %div.each_expense
          - if controller.controller_name == 'expenses' || controller.controller_name == 'shift_months'
            = link_to edit_expense_path(expense.id) do
              - flg = "mine"
              = render 'expenses/display_expenses', expense: expense, flg: flg
          - elsif controller.controller_name == 'repeat_expenses'
            = link_to edit_repeat_expense_path(expense.id) do
              - flg = "mine"
              = render 'expenses/display_expenses', expense: expense, flg: flg
