
#category_expense
  / Nav tabs
  %ul#pills-tab.nav.nav-pills{:role => "tablist"}
    %li.nav-item
      %a#both-tab.nav-link.active{"aria-controls" => "both", "aria-selected" => "false", "data-toggle" => "pill", :href => "#both", :role => "tab"} Both
    %li.nav-item
      %a#mine-tab.nav-link{"aria-controls" => "mine", "aria-selected" => "true", "data-toggle" => "pill", :href => "#mine", :role => "tab"} Mine
  / Tab panes
  #pills-tabContent.tab-content
    #both.tab-pane.fade.show.active{"aria-labelledby" => "both-tab", :role => "tabpanel"}
      - if controller.controller_name == 'expenses' || controller.controller_name == 'shift_months'
        %div.expense_sum
          支払い合計
          %span.expense_sum_detail ¥#{number_with_delimiter(both_sum(current_user_expenses, partner_expenses), delimiter: ",")}
      .both_list #{current_user.name}の出費
      - (current_user_expenses.arrange(true)).each do |expense|
        %div.each_expense
          = link_to edit_link(expense) do
            = render 'expenses/display_expenses', expense: expense
      .both_list.partner#partner_expenses #{partner.name}の出費
      - (partner_expenses.arrange(true)).each do |expense|
        %div.each_partner_expense
          = render 'expenses/display_expenses', expense: expense
    #mine.tab-pane.fade{"aria-labelledby" => "mine-tab", :role => "tabpanel"}
      - if controller.controller_name == 'expenses' || controller.controller_name == 'shift_months'
        %div.expense_sum
          支払い合計
          %span.expense_sum_detail ¥#{number_with_delimiter(mine_sum(current_user_expenses), delimiter: ",")}
      - (current_user_expenses.arrange(false)).each do |expense|
        %div.each_expense
          = link_to edit_link(expense) do
            = render 'expenses/display_expenses', expense: expense
