%div.expense_month
  = link_to '前月', past_expense_path(cnum), class: 'btn btn-default choose_month'
  - if cnum == 0
    = Date.today.strftime("%Y年%m月")
  - elsif cnum < 0
    = Date.today.months_ago(cnum.abs).strftime("%Y年%m月")
  - elsif cnum > 0
    = Date.today.months_since(cnum.abs).strftime("%Y年%m月")
  = link_to '来月', future_expense_path(cnum), class: 'btn btn-default choose_month'

#accordion
  .card
    #headingOne.card-header
      %h5.mb-0
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
          支出合計 ¥#{number_with_delimiter(one_total_expenditures(current_user_expenses, partner_expenses), delimiter: ",")}
    #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
      .card-body
        - category_sums(current_user_expenses, partner_expenses).each do |key, value|
          - category = Category.find(key).kind
          %div

  .card
    #headingTwo.card-header
      %h5.mb-0
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
          支出合計 ¥#{number_with_delimiter(one_total_expenditures(current_user_expenses, partner_expenses), delimiter: ",")}
    #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion"}
      .card-body
        - category_sums(current_user_expenses, partner_expenses).each do |key, value|
          - category = Category.find(key).kind
          %div
            = link_to each_category_expense_path(key, cnum), remote: true, anchor: "accordion", class: "btn btn-category_expense btn-lg btn-block"  do
              = category
              %span.details
                ¥#{number_with_delimiter(value, delimiter: ",")}

  .card
    #headingThree.card-header
      %h5.mb-0
        %button.btn.btn-link.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-target" => "#collapseThree", "data-toggle" => "collapse"}
          カテゴリ別予算残金
    #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion"}
      .card-body
        - ordered_badget.each do |badget|
          - category = Category.find(badget.category_id)
          %div
            = category.kind
            %span.details
              ¥#{number_with_delimiter(category_balance(badget, category, current_user_expenses, partner_expenses), delimiter: ",")}

#category_expense_parent
  = render 'expenses/expenses_list', current_user_expenses: current_user_expenses, partner_expenses: partner_expenses
