-# 変数 expense, categories
%h3 自分の出費を入力
= form_with(model: expense, local: true, url: choose_new_or_edit) do |form|
  - if expense.errors.any?
    = render 'layouts/error', var: expense
  %div.form-group
    %label{ for: 'amount' } 金額
    %div
      = form.number_field :amount, class:"form-control", required: true
  %div.form-group
    %label{ for: 'date' } 日付
    %div
      - if action_name == 'new'
        = form.date_field :date, class:"form-control", required: true, value: Date.today
      - elsif action_name == 'edit'
        = form.date_field :date, class:"form-control", required: true, value: expense.date
  %div.form-group
    %label{ for: 'memo' } メモ
    %div
      = form.text_field :note, class:"form-control"
  %div.form-group
    %label{ for: 'category' } カテゴリ
    %div
      = form.collection_select(:category_id, categories, :id, :kind, {}, class: 'form-control', id: 'category')

  = form.submit '確認', class: "btn btn-default btn-confirm"
%div.test
  - if action_name == 'edit'
    =link_to '削除する', expense_path(expense.id), method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-delete btn-delete'
