<%= form_with(model: @expense, local: true) do |f| %>
  <%=render 'shared/error', object: @expense %>
  <div class="form-group">
    <%= f.label :amount , value: '支払い金額' %>
    <div class="input-group">
      <%= render 'calculator_input_addon', { data_calculator_for: "own-expense-paid-amount", disabled: false } %>
      <%= f.number_field :amount, class:"form-control input-lg", id: "own-expense-paid-amount", min: 0, max: 9999999999, value: @expense.amount, required: true %>
      <span class="input-group-addon">円</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_id , value: 'カテゴリー' %>
    <div>
      <%= f.collection_select :category_id, @categories, :id, :name, {}, class: 'form-control', required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: '日付' %>
    <div>
      <%= f.date_field :date, required: true, value: @expense.default_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date, value: 'メモ' %>
    <div>
      <%= f.text_field :memo, maxlength: 100, class: "form-control" %>
    </div>
  </div>
  <br>

  <div class="form-group">
    <%= f.submit submit_btn_letters, class: "btn btn-orange btn-block" %>
  </div>

  <% if action_name == 'edit' %>
    <%= link_to '削除する', expense_path(@expense), method: :delete, data:{confirm: "Are you sure?"}, class: 'btn btn-brown btn-block' %>
  <% end %>

<% end %>