%div.form-group
  %label{ for: 'amount' } 金額
  %div
    = form.number_field :amount, class:"form-control", required: true
- if controller.controller_name == 'repeat_expenses'
  %div.form-group
    %label{ for: 's_date' } 開始日
    %div
      - if action_name == 'new' || action_name == 'both'
        = form.date_field :s_date, class:"form-control", required: true, value: Date.today
      - elsif action_name == 'edit'
        = form.date_field :s_date, class:"form-control", required: true, value: expense.s_date
  %div.form-group
    %label{ for: 'e_date' } 終了日
    %div
      - if action_name == 'new' || action_name == 'both'
        = form.date_field :e_date, class:"form-control", required: true, value: Date.today
      - elsif action_name == 'edit'
        = form.date_field :e_date, class:"form-control", required: true, value: expense.e_date
  %div.form-group
    %label{ for: 'r_date' } 毎月 何日？
    %div
      - if action_name == 'new' || action_name == 'both'
        = form.select :r_date, r_date_option, { include_blank: "-" }, required: true, id: "r_date"
      - elsif action_name == 'edit'
        = form.select :r_date, r_date_option, { include_blank: "-" }, required: true, value: expense.r_date, id: "r_date"
- elsif controller.controller_name == 'expenses'
  %div.form-group
    %label{ for: 'date' } 日付
    %div
      - if action_name == 'new' || action_name == 'both'
        = form.date_field :date, class:"form-control", required: true, value: Date.today
      - elsif action_name == 'edit'
        = form.date_field :date, class:"form-control", required: true, value: expense.date
%div.form-group
  %label{ for: 'memo' } メモ
  %div
    = form.text_field :note, class:"form-control"
