%div.whole_page
  %h3 以下の内容で追加する
  = form_with(model: @expense, local: true) do |form|
    - if @expense.errors.any?
      = render 'layouts/error', var: @expense
    = form.hidden_field :amount
    = form.hidden_field :date
    = form.hidden_field :note
    = form.hidden_field :category_id
    = form.hidden_field :percent
    = form.hidden_field :both_flg

    .confirm_detail
      %div 金額：¥#{number_with_delimiter(@expense.amount, delimiter: ",")}
      %div 日付：#{@expense.date.strftime("%Y/%m/%d(%a)")}
      %div メモ：#{@expense.note}
      %div カテゴリ：#{Category.find(@expense.category_id).kind}
      - if @expense.both_flg == true
        %div 自分の割合：#{which_percent(@expense.percent)}
    %br
    = form.submit '入力する', class: 'btn btn-default btn-confirm'
  %br
  = form_with(model: @expense, local: true, url: back_new_or_both(@expense), method: :get) do |form|
    = form.hidden_field :amount
    = form.hidden_field :date
    = form.hidden_field :note
    = form.hidden_field :category_id
    = form.hidden_field :percent
    = form.hidden_field :both_flg
    = form.submit '戻る', name: 'back', class: 'btn btn-back'
  -# 出費フォーム
