<%= render partial: 'shared/html_title', locals: {subtitle: "出費を編集"} %>
<%= content_for :other_css do %>
  <%= stylesheet_link_tag 'analyses' %>
  <%= stylesheet_link_tag 'expenses' %>
<% end %>

<div class="content-wrapper">

  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <h3>出費を編集</h3>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <%= back_btn_to_expenses_list %>

        <div class="box box-brown">
          <div class="box-body">
            <% if @expense.is_for_both? %>
              <%= render 'both_expense_form' %>
            <% else %>
              <%= render 'own_expense_form' %>
            <% end %>
          </div><!-- /.box-body -->
        </div><!-- /.box.box-brown -->

      </div><!-- /.col-md-12  -->
    </div><!-- /row -->

  </section><!-- /.content -->

  <%= render 'calculator_modal' %>

</div>

<%= content_for :other_javascript do %>
  <%= javascript_include_tag 'both_expenses_form' %>
  <%= javascript_include_tag 'expenses_input_amount' %>
<% end %>