<div class="whole_page container">
  <p>全てのカテゴリ</p>
  <% @categories.each do |category| %>
    <ul>
      <li><%= category.kind %></li>
    </ul>
  <% end %>

  <h3>出費を入力</h3>
  <%= form_with(model: @expense, local: true) do |form| %>
    <% if @expense.errors.any? %>
      <%= render 'layouts/error', var: @expense %>
    <% end %>
    <div>
      <%= form.number_field :amount, required: true %>
    </div>
    <div>
      <%= form.date_field :date, required: true %>
    </div>
    <div>
      <%= form.text_field :note %>
    </div>
    <div>
      <%= form.collection_select(:category_id, @categories, :id, :kind) %>
    </div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div>
      <%= form.submit %>
    </div>

  <% end %>
  <!-- 出費フォーム -->

  <hr>

  <h3><%= current_user.name %>の出費</h3>
  <% @expenses.each do |expense| %>
    <%= render 'expenses/display_expenses', expense: expense %>
  <% end %>


</div>
