<%= render partial: 'shared/html_title', locals: {subtitle: "#{ index_page_tile}"} %>
<%= content_for :other_css do %>
  <%= stylesheet_link_tag 'analyses' %>
  <%= stylesheet_link_tag 'expenses' %>
<% end %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <%= render 'shared/notice_flash_message' %>
        <%= render 'expenses_narrow_down_area' %>
        <h3><%= index_page_tile %></h3>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <%= back_btn_to_analyses_page %>
        <div class="box box-brown">
          <div class="box-body">

            <div class="clearfix">
              <h4 class="pull-left"><%= @period.to_japanese_period + 'の出費合計' %></h4>
              <h4 class="pull-right">
                <i class="fa fa-cny space-right"></i>
                <%= one_total_expenditures(@current_user).to_s(:delimited) %>
              </h4>
            </div>

            <div class="inside-space-left">
              <div class="clearfix">
                <h5 class="pull-left">二人の出費の合計</h5>
                <h5 class="pull-right">
                  <i class="fa fa-cny space-right"></i><%= one_total_both_expenditures(@current_user).to_s(:delimited) %>
                </h5>
              </div>

              <div class="clearfix">
                <h5 class="pull-left no-margin-top">自分の出費の合計</h5>
                <h5 class="pull-right no-margin-top">
                  <i class="fa fa-cny space-right"></i><%= one_total_own_expenditures(@current_user).to_s(:delimited) %>
                </h5>
              </div>

              <div class="clearfix">
                <h5 class="pull-left no-margin-top">任意出費の合計</h5>
                <h5 class="pull-right no-margin-top">
                  <i class="fa fa-cny space-right"></i><%= optional_expenses_sum.to_s(:delimited) %>
                </h5>
              </div>

              <div class="clearfix">
                <h5 class="pull-left no-margin-top">必須出費の合計</h5>
                <h5 class="pull-right no-margin-top">
                  <i class="fa fa-cny space-right"></i><%= essential_expenses_sum.to_s(:delimited) %>
                </h5>
              </div>

              <% Expense.payment_methods_i18n.each do |payment_method, translated_payment_method| %>
                <div class="clearfix">
                  <h5 class="pull-left no-margin-top"><%= translated_payment_method %>の合計</h5>
                  <h5 class="pull-right no-margin-top">
                    <i class="fa fa-cny space-right"></i><%= expenses_sum_of_one_payment_method(payment_method).to_s(:delimited) %>
                  </h5>
                </div>
              <% end %>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box box-brown -->

        <ul class="timeline">
          <% expenses_without_only_partner_own.each_with_index do |expense, i| %>
            <%= expense.show_date(@expenses, @current_user, i) %>
            <% if expense.is_for_both? %>
              <%= render 'both_expense', expense: expense %>
            <% else %>
              <%= render 'own_expense', expense: expense %>
            <% end %>
          <% end %>
          <% if @expenses.present? %>
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          <% end %>
        </ul>
      </div><!-- /.col-xs-12  -->
    </div><!-- /row -->
    <%= image_tag 'page_top.png', size: '40x40', id: 'page-top' %>
  </section>

</div>


<%= content_for :other_javascript do %>
  <%= javascript_include_tag 'expenses_index' %>
  <%= javascript_include_tag 'page_top' %>
<% end %>