<%= render partial: 'shared/html_title', locals: {subtitle: "#{ index_page_tile}"} %>
<div class="content-wrapper">
  <section class="content-header">
    <%= render 'shared/notice_flash_message' %>
    <h3><%= index_page_tile %></h3>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <%= back_btn_to_analyses_page %>
        <div class="box box-brown">
          <div class="box-body">
            <div>
              <h4 class="pull-left"><%= @period.to_japanese_period + 'の出費合計' %></h4>
              <h4 class="pull-right">
                <i class="fa fa-cny space-right"></i>
                <%= one_total_expenditures(@current_user).to_s(:delimited) %>
              </h4>
            </div>
            <br/><br/>
            <div class="inside-space-left">
              <h5 class="pull-left">二人の出費の合計</h5>
              <h5 class="pull-right">
                <i class="fa fa-cny space-right"></i><%= one_total_both_expenditures(@current_user).to_s(:delimited) %>
              </h5>
            </div>
            <br/><br/>
            <div class="inside-space-left">
              <h5 class="pull-left  no-margin-top">自分の出費の合計</h5>
              <h5 class="pull-right  no-margin-top">
                <i class="fa fa-cny space-right"></i><%= one_total_own_expenditures(@current_user).to_s(:delimited) %>
              </h5>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box box-brown -->

        <ul class="timeline">
          <% expenses_without_only_partner_own.each_with_index do |expense, i| %>
            <%= expense.show_date(@expenses, @current_user, i) %>
            <% if expense.is_for_both? %>
              <%= render 'both_expense', expense: expense %>
            <% else %>
              <%= render 'own_expense', expense: expense %>
            <% end %>
          <% end %>
          <% if @expenses.present? %>
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          <% end %>
        </ul>
      </div><!-- /.col-xs-12  -->
    </div><!-- /row -->
  </section>

</div>


<%= content_for :other_javascript do %>
  <%= javascript_include_tag 'expenses_index' %>
<% end %>