%div.whole_page.container
  / Nav tabs
  %ul#myTab.nav.nav-tabs{:role => "tablist"}
    %li.nav-item
      %a#mine-tab.nav-link.active{"aria-controls" => "mine", "aria-selected" => "true", "data-toggle" => "tab", :href => "#mine", :role => "tab"} mine
    %li.nav-item
      %a#both-tab.nav-link{"aria-controls" => "both", "aria-selected" => "false", "data-toggle" => "tab", :href => "#both", :role => "tab"} both
  / Tab panes
  .tab-content
    #mine.tab-pane.active{"aria-labelledby" => "mine-tab", :role => "tabpanel"}
      %h3 #{current_user.name}の出費
      %strong 合計 ¥#{number_with_delimiter(@sum, delimiter: ",")}
      - @expenses.each do |expense|
        - flg = "mine"
        = render 'expenses/display_expenses', expense: expense, flg: flg
      %hr
    #both.tab-pane{"aria-labelledby" => "both-tab", :role => "tabpanel"}
      %strong 二人の出費の合計 ¥#{number_with_delimiter(@sum, delimiter: ",")}
      %hr
      %h3 #{current_user.name}の出費
      - @current_user_expenses.each do |expense|
        - flg = "both"
        = render 'expenses/display_expenses', expense: expense, flg: flg
      %h3 #{@partner.name}の出費
      - @partner_expenses.each do |expense|
        - flg = "both"
        = render 'expenses/display_expenses', expense: expense, flg: flg
