%div.whole_page.container
  %h3 出費を入力
  = form_with(model: @expense, local: true) do |form|
    - if @expense.errors.any?
      = render 'layouts/error', var: @expense
    %div
      %div 金額
      = form.number_field :amount, required: true
    %div
      %div 日付
      = form.date_field :date, required: true, value: Date.today
    %div
      %div メモ
      = form.text_field :note
    %div
      %div カテゴリー
      = form.collection_select(:category_id, @categories, :id, :kind)

    = form.hidden_field :user_id, value: current_user.id
    = form.submit
  -# 出費フォーム
