<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title><%= content_for?(:html_title) ? yield(:html_title) : CONFIG[:site_name] %></title>
  <%= favicon_link_tag('favicon.ico') %>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag 'application' %>

</head>

<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b><%= CONFIG[:site_name] %></b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <% if logged_in? %>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning"><%= @notification_count %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have <%= @notification_count %> notifications</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                        page and may cause design problems
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-redpepper"></i> 5 new members joined
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-user text-redpepper"></i> You changed your username
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
              </ul>
            </li>
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <%= link_to @current_user.name, user_path(@current_user) %>
            </li>
          </ul>
        </div>
      <% end %>
    </nav>
  </header>

  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
        <% if logged_in? %>
          <li class="treeview active">
            <a href="#"><i class="fa fa-link"></i> <span>Record</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <%= link_to 'Expense', expenses_path  %>
              </li>
              <li>
                <%= link_to 'Income', incomes_path %>
              </li>
              <li>
                <%= link_to 'Deposit', deposits_path %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to pays_path do %>
              <i class="fa fa-th"></i> <span>Pay</span>
              <!-- 項目の横にアイコンみたいなのを表示-->
              <!-- <span class="pull-right-container">-->
              <!--   <small class="label pull-right bg-green">new</small>-->
              <!-- </span>-->
            <% end %>
          </li>
          <li>
            <%= link_to balances_path do %>
              <i class="fa fa-th"></i> <span>Balance</span>
            <% end %>
          </li>
          <li class="active">
            <%= link_to repeat_expenses_path do %>
              <i class="fa fa-th"></i> <span>Repeat</span>
            <% end %>
          </li>
          <li>
            <%= link_to badgets_path do %>
              <i class="fa fa-th"></i> <span>Badget</span>
            <% end %>
          </li>
          <li>
            <%= link_to categories_path do %>
              <i class="fa fa-th"></i> <span>Category</span>
            <% end %>
          </li>
          <li>
            <%= link_to user_settings_path(@current_user) do %>
              <i class="fa fa-th"></i> <span>Setting</span>
            <% end %>
          </li>
          <li>
            <%= link_to session_path(@current_user), method: :delete do %>
              <i class="fa fa-th"></i> <span>Logout</span>
            <% end %>
          </li>
        <% else %>
          <% if controller.controller_name != 'errors' %>
            <li class="active">
              <a href="<%= new_session_path %>">
                <i class="fa fa-link"></i> <span>Login</span>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <%= yield %>

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="#" id="company-name"><%= CONFIG[:site_name] %></a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

<%= javascript_include_tag 'application' %>
<%= yield(:other_javascript) %>
</body>
</html>
